asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.7.1
blessings==1.7
bpython==0.17.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
curtsies==0.3.0
greenlet==0.4.15
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
lxml==4.3.0
parsel==1.5.1
peewee==3.8.1
pep8==1.7.1
psycopg2==2.7.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.3.1
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-decouple==3.1
queuelib==1.5.0
requests==2.21.0
Scrapy==1.5.1
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.7.1
Twisted==18.9.0
typing==3.6.6
urllib3==1.24.1
w3lib==1.20.0
wcwidth==0.1.7
zope.interface==4.6.0
